body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aTitulo, ul{
  text-decoration: none;
  color:  white;
}
.aTitulo:hover, li:hover{
  color: #c4b4ac;

}
.navColor{
  background-color: #353966;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p> label{ color:grey;}
p >input[type = "radio"]{ display:none;}

.clasificacion {
  direction: rtl;
  display: initial;
  unicode-bidi: bidi-override;
}

p>label:hover,
p>label:hover ~ label {
  color: orange;
}

p> input[type="radio"]:checked ~ label {
  color: orange;
}